<div id="<%= dom_id event %>">
  <p>
    <strong>Request:</strong>
    <%= event.request_id %>
  </p>

  <p>
    <strong>User agent:</strong>
    <%= event.user_agent %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= event.ip_address %>
  </p>

  <p>
    <strong>Recordable:</strong>
    <%= event.recordable_id %>
  </p>

</div>
