<!DOCTYPE html>
<html>
  <head>
    <title>Current</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <a href="/messages">Messages</a>
        <a href="/events">Events</a>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Logged in as <%= current.user.name %>, where the time is <%= Time.current %> in the <%= current.timezone %> timezone.</p>
    </footer>
  </body>
</html>
